.projectDetails {
    padding: 2em;
    width: 100%;
}

.projectDetails :is(h1, h2, p) {
    margin-bottom: .5em;
}

.projectDetails h1 {
    background-color: #222;
    color: #FFBB33;
    padding: .4em;
}

.projectDetails span {
    font-weight: bold;
}

.detailsContainer,
.serviceFormContainer {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projectInfo {
    width: 100%;
    &:not(:has(form)) {
        padding: 15px 0;
    }
}