.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--cor-fundo-preto);
    color: white;
    font-size: 1.7em;
}

.header a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
        text-decoration: underline;
    }
}

.header ul {
    list-style: none;
    display: flex;
    gap: 30px;
}