.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em 4em;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    gap: 1em;
}

.list > li a {
    color: #FFF;
    text-decoration: none;
    &:hover {
        color: #FFBB33;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 300px) {
    .list {
        flex-wrap: wrap;
    }
}