.btn {
    background-color: #222;
    color: #fff;
    padding: .5em 1em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
    &:hover {
        color: #ffbb33;
    }
}